@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-zinc-900 antialiased;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Hide scrollbar for clean mobile look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}